body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #001eff, #ffffff);
    color: #333;
    text-align: center;
}

header {
    background: #20379b;
    padding: 20px;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    display: inline-flex;
    padding: 15px;
    gap: 10px;
    font-size: 36px;
    line-height: 1.5;
    margin-bottom: 20px;
    background: linear-gradient(120deg, #2c9ed3, #292929);
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
    position: relative;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s;
}

nav ul li:hover {
    color: #ffdd57;
}

a {
    text-decoration: underline;
    color: rgb(255, 255, 255);
}

#about {
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 20px auto;
    max-width: 800px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#about h2 {
    color: #20379b;
    margin-bottom: 20px;
}

#about p {
    font-size: 1.1rem;
    color: #444;
    line-height: 1.5;
    text-align: left;
    margin: 0;
    padding: 10px;
}

#submit {
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 20px auto;
    max-width: 800px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#submit h2 {
    color: #20379b;
    margin-bottom: 20px;
}


footer {
    margin-top: auto;
    background: #0044ff;
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
}

#links ul {
    gap: 20px;
    background-color: rgba(45, 31, 31, 0.7);
    border-radius: 10px;
    padding: 10px;
    line-height: 25px;
    justify-content: center;
    list-style: none;
    display: inline-flex;
    flex-direction: column;
}

#links a {
    color: rgb(78, 231, 255);
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

.submit-button {
    padding: 15px 30px;
    background-color: #20379b;
    color: white;
    border: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #005A9E;
}
