body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background: linear-gradient(120deg, #19305c, #365fa5);
    margin: 0;
    padding: 0;
    color: white;
}

h1{
    background-color:#2a5298;
    padding: 10px;
    gap: 10%;
    display: inline-flex;
    align-items: center;
    border-radius: 15px;
    font-size: 50px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.8);
}

header {
    background: #162447;
    color: white;
    padding: 20px;
    font-size: 26px;
    font-weight: bold;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

nav {
    margin-top: 10px;
}

nav a {
    color: rgb(8, 250, 8);
    
    text-decoration: underline;
    font-size: 18px;
    margin-left: 20px;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #ffffff;
}

.gallery-container {
    max-width: 80%;
    margin: 40px auto;
    overflow: hidden;
    position: relative;
    padding: 20px 0;
}

h2 {
    color: #333;
    display: inline-flex;
    padding: 15px;
    gap: 10px;
    font-size: 36px;
    line-height: 1.5;
    margin-bottom: 20px;
    background: linear-gradient(90deg, #0e5e12,#ffffff, #af7f37);
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.slider {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
    transition: transform 0.5s ease-in-out;
}

img, video {
    width: 90%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

button.prev, button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    padding: 12px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 50%;
    transition: background 0.3s;
}

button.prev:hover, button.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

button.prev { left: 10px; }
button.next { right: 10px; }