body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #001eff, #ffffff);
    color: #333;
    text-align: center;
}

header {
    background: #20379b;
    padding: 20px;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #333;
    display: inline-flex;
    padding: 15px;
    gap: 10px;
    font-size: 36px;
    line-height: 1.5;
    margin-bottom: 20px;
    background: linear-gradient(120deg, #ffffff, #55e6e6);
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
    position: relative;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s;
}

nav ul li:hover {
    color: #ffdd57;
}

.logo{
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
    display: inline-flex;
    height: auto;
    width: 25vw;

}

.navbar a {
    color: #ffffff;
    text-decoration: underline;
}

#gallery h2 {
    background-color: rgba(255, 255, 255, 0.493);
    gap: 20px;
    font-size: 40px;
    padding: 15px;
    border-radius: 15px;
    display: inline-flex;
    align-items: center;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 20px;
}

.image-grid img, .image-grid video {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

@media (max-width: 768px) {
    .image-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .image-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

.image-grid img:hover, .image-grid video:hover {
    transform: scale(1.05);
}

.page-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
    background: #0044ff;
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
}

#links ul {
    gap: 20px;
    background-color: rgba(45, 31, 31, 0.7);
    border-radius: 10px;
    padding: 10px;
    line-height: 25px;
    justify-content: center;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px 0;
}

#links a {
    color: rgb(78, 231, 255);
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    margin: 5px 15px;
}

#links a:hover {
    text-decoration: underline;
    font-size: 22px;
    color: #ffdd57;
    transition: font-size 0.3s ease, color 0.3s ease;
}

.link-container {
    display: flex;
    gap: 10px;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
    transition: background-color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    color: #333;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
}

.link-box {
    background: rgba(255, 255, 255, 0.9);
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 230px;
}

.link-box h3 {
    gap: 20px;
    color: rgb(0, 81, 255);
    text-decoration: underline;
    background-color: rgba(27, 27, 27, 0.7);
    border-radius: 10px;
    padding: 10px;
}

@media (max-width: 768px) {
    .link-container {
        flex-direction: column;
        align-items: center;
    }

    .link-box {
        width: 90%;
        height: auto;
    }
}